.header {
  height: 100px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: #333333;
  margin-bottom: 60px;
  padding: 10px;
}
.header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.contenair {
  width: 1020px;
  height: 1020px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block1 {
  flex-shrink: 0;
  border: solid red 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block2 {
  flex-shrink: 0;
  border: solid green 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block3 {
  flex-shrink: 0;
  border: solid yellow 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block4 {
  flex-shrink: 0;
  border: solid #039fe3 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block5 {
  flex-shrink: 0;
  border: solid #f8c5af 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block6 {
  flex-shrink: 0;
  border: solid red 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block7 {
  flex-shrink: 0;
  border: solid green 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block8 {
  flex-shrink: 0;
  border: solid yellow 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}

.block9 {
  flex-shrink: 0;
  border: solid #039fe3 10px;
  height: 300px;
  width: 300px;
  padding-left: 10px;
}
.block1 > p {
}
.block2 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block3 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block4 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block5 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block6 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block7 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block8 > p {
  justify-content: flex-start;
  align-items: flex-end;
}
.block9 > p {
  justify-content: flex-start;
  align-items: flex-end;
}

.footer {
  background-color: #dddddd;
  height: 40;
  text-align: center;
  padding: 25px;
}
.footer a {
  color: black;
}

.footer a:visited {
  color: black;
}
